# Keep secrets out of Git, but allow EAS to use them

# Expo
.expo/
dist/
web-build/

# dependencies
node_modules/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

android
service-account.json

# These are needed for EAS Build, so don't ignore them
!credentials*.json
!certs/_.p12
!certs/_.mobileprovision
!auth/\*.p8
